
.section-title {
    color: #8e44ad;
    font-weight: bold;
    text-transform: uppercase;
}
.section-content {
    margin-bottom: 20px;
}

.sector-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

